.sources

.DS_Store

portfolio-cms/node_modules
portfolio-backend/node_modules

portfolio-cms/.next
portfolio-cms/dist
portfolio-cms/out
portfolio-cms/build

portfolio-backend/dist
portfolio-backend/out
portfolio-backend/build

portfolio/.next
portfolio/dist
portfolio/out
portfolio/build

portfolio-cms/coverage
portfolio-backend/coverage
portfolio/coverage

portfolio-cms/.env
portfolio-backend/.env
portfolio/.env

