@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F3F6F9;
  --foreground: #1A2027;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A1929;
    --foreground: #FFFFFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}